<%- include('partials/header') %>

    <!-- BANNER -->
    <section class="banner-section mt-4">
        <div class="container-fluid px-0" style="max-width: 1920px; margin: 0 auto;">
            <div class="row g-0 align-items-stretch" style="min-height: 300px;">
                <div class="col-md-6">
                <img src="img/banner-PittaPong.png" alt="Banner do PittaPong" class="banner-img">
            </div>
                <div class="col-md-6 d-flex flex-column justify-content-center text-white p-4 p-lg-5">
                <h4>Atinja seu potencial máximo com a</h4>
                <h2 class="mb-3">
                    <a href="produto.html">Olden Racket</a>
                </h2>
                <h3>+ 1x Roiesk Ball (brinde)</h3>
                <div class="mt-3">
                    <a href="produto.html" class="banner-button">Descubra o poder</a>
                </div>
            </div>
        </div>
        </div>
    </section>

    <!-- MAIN -->
    <main class="container py-5">
        <h2 class="text-center fw-semibold mb-4" style="font-size: 2rem;">Mais vendidos</h2>
        <div class="row g-4 mb-5 justify-content-center">
            <div class="col-6 col-md-3">
                <div class="produto-card">
                    <div class="produto-img-wrapper">
                        <img src="img/Roiesk Balls.png" alt="Roiesk Balls">
                    </div>
                    <a href="produto.html"><h3 class="mt-2">ROIESK BALLS</h3></a>
                    <a href="produto.html"><h4>PittaPong</h4></a>
                    <a href="produto.html"><p class="preco mt-2">R$ 39,99</p></a>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="produto-card">
                    <div class="produto-img-wrapper">
                        <img src="img/Olden Racket.png" alt="Olden Racket">
                    </div>
                    <a href="produto.html"><h3 class="mt-2">OLDEN RACKET</h3></a>
                    <a href="produto.html"><h4>PittaPong</h4></a>
                    <a href="produto.html"><p class="preco mt-2">R$ 229,99</p></a>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="produto-card">
                    <div class="produto-img-wrapper">
                        <img src="img/Roiesk Balls.png" alt="Roiesk Balls">
                    </div>
                    <a href="produto.html"><h3 class="mt-2">ROIESK BALLS</h3></a>
                    <a href="produto.html"><h4>PittaPong</h4></a>
                    <a href="produto.html"><p class="preco mt-2">R$ 39,99</p></a>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="produto-card">
                    <div class="produto-img-wrapper">
                        <img src="img/Olden Racket.png" alt="Olden Racket">
                    </div>
                    <a href="produto.html"><h3 class="mt-2">OLDEN RACKET</h3></a>
                    <a href="produto.html"><h4>PittaPong</h4></a>
                    <a href="produto.html"><p class="preco mt-2">R$ 229,99</p></a>
                </div>
            </div>
        </div>
    </main>

<%- include('partials/footer') %>