    <!-- FOOTER -->
    <footer class="text-white py-4">
        <div class="container text-center">
            <div class="mb-3">
                <a href="../index.ejs">
                    <img src="../../public/img/PittaPong Logo.png" class="footer-logo-img" alt="PittaPong Logo" />
                </a>
            </div>
            <ul class="list-unstyled d-flex justify-content-center gap-3 mb-3">
                <li><a href="https://web.whatsapp.com" class="social-icon whatsapp"><img src="../../public/img/whatsapp.png"
                            alt="WhatsApp"></a></li>
                <li><a href="https://x.com" class="social-icon twitter"><img src="../../public/img/twitter.png" alt="X"></a></li>
                <li><a href="https://instagram.com" class="social-icon instagram"><img src="../../public/img/instagram.png"
                            alt="Instagram"></a></li>
                <li><a href="https://youtube.com" class="social-icon youtube"><img src="../../public/img/youtube.png"
                            alt="YouTube"></a></li>
            </ul>
            <p class="mb-0">&copy; 2025 PittaPong - Todos os direitos reservados.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../public/js/script.js"></script>
</body>

</html>